<ion-header>
  <ion-toolbar color="primary" class="p-1">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="eventRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="content-fullscreen">  
    <ion-row>
      <ion-col size="12">
        <ion-card *ngIf="tasks && tasks.length > 0">
          <div class="table-responsive-xl">
            <table class="table table-bordered table-striped table-hover">
              <thead class="table-light">
                <tr class="text-center">
                  <th>Sync</th>
                  <th>Acción</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <th><p style="width: 200px; margin: 0;">Título</p></th>
                  <th><p style="width: 90px; margin: 0;">Vencimiento</p></th>
                  <th><p style="width: 90px; margin: 0;">Estado</p></th>
                  <th><p style="width: 120px; margin: 0;">Creación</p></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let task of tasks; let i = index">
                  <tr class="align-middle text-center">
                    <td>
                      <p style="width: 55px; margin: 0;">
                        <ion-button color="primary" class="w-full" (click)="uploadTask(task)" [disabled]="task.synced">
                          <ion-icon slot="start" name="cloud-upload-outline" style="margin: auto;"></ion-icon>
                        </ion-button>
                      </p>
                    </td>
                    <td>
                      <p style="width: 55px; margin: 0;">
                        <ion-button color="primary" class="w-full" *ngIf="task.status == 'pending'" (click)="updateTask(task.id, task.synced, 'in_progress')">
                          <ion-icon slot="start" name="play-circle-outline" style="margin: auto;"></ion-icon>
                        </ion-button>

                        <ion-button color="primary" class="w-full" *ngIf="task.status == 'in_progress'" (click)="updateTask(task.id, task.synced, 'completed')">
                          <ion-icon slot="start" name="checkmark-circle-outline" style="margin: auto;"></ion-icon>
                        </ion-button>
                        
                        <ion-button color="primary" class="w-full" *ngIf="task.status == 'completed'" (click)="updateTask(task.id, task.synced, 'pending')">
                          <ion-icon slot="start" name="refresh-circle-outline" style="margin: auto;"></ion-icon>
                        </ion-button>
                      </p>
                    </td>
                    <td>
                      <p style="width: 55px; margin: 0;">
                        <ion-button color="primary" class="w-full" (click)="presenModalTask(task.id, task.synced, true)">
                          <ion-icon slot="start" name="pencil-outline" style="margin: auto;"></ion-icon>
                        </ion-button>
                      </p>
                    </td>
                    <td>
                      <p style="width: 55px; margin: 0;">
                        <ion-button color="primary" class="w-full" (click)="deleteTask(task.id, task.synced)">
                          <ion-icon slot="start" name="trash-outline" style="margin: auto;"></ion-icon>
                        </ion-button>
                      </p>
                    </td>
                    <td>
                      {{ task.title }}
                    </td>
                    <td>
                      {{ task.due_date | date:'dd/MM/yyyy' }}
                    </td>
                    <td>
                      {{ task.status }}
                    </td>
                    <td>
                      {{ task.created_at | date:'dd/MM/yyyy HH:mm' }}
                    </td>
                  </tr>
                  <tr class="align-middle text-justify">
                    <td colspan="8">
                      {{ task.description }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <table class="table table-bordered table-tasks-index">
            <tbody>
              <tr class="table-light align-middle text-center">
                <td>
                  <ion-button fill="clear" expand="full" (click)="uploadPackage('-')" [disabled]="position_package == 1">
                    <ion-icon name="arrow-back-outline" color="primary" style="font-size: 25px;"></ion-icon>
                  </ion-button>
                </td>
                <td>
                  <ion-row>
                    <ion-col [size]="size_package < 3 ? '3' : size_package" *ngFor="let page of visiblePages">
                      <ion-button class="button-page" [fill]="position_package == page ? 'outline' : 'clear'" [disabled]="position_package == page" (click)="uploadPackage('', page)">
                        {{ page }}
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </td>
                <td>
                  <ion-button fill="clear" expand="full" (click)="uploadPackage('+')" [disabled]="position_package == data_alt.length">
                    <ion-icon name="arrow-forward-outline" color="primary" style="font-size: 25px;"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-card>

        <ion-card *ngIf="!tasks || tasks.length == 0">
          <ion-card-header>
            <ion-row>
              <ion-col size="12" class="mt-2 text-center">
                <ion-icon name="clipboard-outline" color="primary" style="font-size: 30px"></ion-icon>
              </ion-col>
              <ion-col size="12">
                <p class="text-center" style="font-size: 18px; font-weight: 600;">No hay tareas</p>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
